#app {
    .titleApp {
        justify-content: space-between;
        padding: 10px 10px;
    }
    .authorization{
        text-align: center;
        input{
            margin: 5px 0;
        }

    }
    #logOut{
        margin-left: 5px;
    }
    .item{
        margin: 10px;
        background-color: #e9ecef;
        border-radius: 5px;
        p{
            margin: 2px;
        }
        .btn{
            margin-right: 4px;
        }
    }
    .list{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .btn{
            margin: 10px;
        }
        .list{
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.modal{
    .modalBody{
        input{
            display: block;
            margin: 10px auto;
        }
    }
}

